# =======================================================
# =============== PostgreSQL Configuration ==============
# =======================================================

DB_USERNAME="postgres"
DB_PASSWORD="postgres"
DB_NAME="messaging_db"

# =======================================================
# ================ Backend Configuration ================
# =======================================================

CLIENT_DOMAIN="http://localhost:3000"
OTP_VALIDATION_SECONDS=3600

# cookie
AUTH_COOKIE_NAME="session" # Also used in frontend

# jwt
JWT_SECRET="your-secret-jwt-key"
JWT_TOKEN_VALIDITY_SECONDS=86400

# sessions
SESSION_SECRET="your-secret-sesion-key"

# mail
MAIL_HOST=
MAIL_USER=
MAIL_PASSWORD=
MAIL_FROM=

# Database ORM configuration
DB_HOST="postgres"
DB_PORT=5432
DB_USERNAME="postgres"
DB_PASSWORD="postgres"

# =======================================================
# ================ Frontend Configuration ===============
# =======================================================

API_BASE_URL="http://backend:4000"
NEXT_PUBLIC_SOCKET_IO_BASE_URL="http://localhost:4000"