ENVIRONMENT="development"

# Messaging System Database
DB_HOST="localhost"
DB_PORT=7020
DB_USERNAME="user"
DB_PASSWORD="password"
DB_NAME="messaging_db"

# Auth System Database
AUTH_DB_HOST="localhost"
AUTH_DB_PORT=7010
AUTH_DB_USERNAME="user"
AUTH_DB_PASSWORD="password"
AUTH_DB_NAME="auth_db"

# User System Database
USER_DB_HOST="localhost"
USER_DB_PORT=7040
USER_DB_USERNAME="user"
USER_DB_PASSWORD="password"
USER_DB_NAME="users_db"
